body{
    background-image: url("Dakeja-Background.png");
    background-repeat: no-repeat;
    color: #ffffff;
}

#main{
    box-shadow: inset 0 0 2000px rgb(255 255 255 / 50%);
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 600px;
    max-height: 500px;
    height: auto;
    padding: 15px 0;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
#wrapper{
    justify-content: center;
    align-items: center;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-content: center;
}

p{
    font-size: 30px
;
}