body{
    background-image: url("Dakeja-Background.png");
    background-repeat: no-repeat;
    color: #ffffff;
}

#main{
    box-shadow: inset 0 0 2000px rgb(255 255 255 / 50%);
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 600px;
    max-height: 500px;
    height: auto;
    padding: 25px 0;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    backdrop-filter:blur(7px);
    min-width:600px;
    text-align:center;
}
#wrapper{
    justify-content: center;
    align-items: center;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-content: center;
}

p{
    font-size: 30px;
}
#time{
    font-size: 15px;
    transform:translate(190px,-90px);
}
#topic-2{
    font-size: 15px;
    transform:translate(-155px, -25px);
    text-align:left;
}
#countdown{
    text-align:center;
    transform:translateY(-90px);
    animation: pulse-white 5s infinite;
}
@keyframes pulse-white {
    0% {
        transform: scale(0.95);
    }

    16% {
        transform: scale(1.1);
    }

    32% {
        transform: scale(0.95);
    }

    48% {
        transform: scale(1.1);
    }

    64% {
        transform: scale(0.95);
    }

    80% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(0.95);
    }
}
a{
    color: #ffffff;
    text-decoration:none;
    border: 3px solid #cacaca;
    padding:5px;
    border-radius:10px;
    font-size:20px;
}
#topic-5{
    font-size:20px;
    transform:translateY(-10px);
}
#dakeja_number{
    background: transparent;
    color: #ffffff;
    border: 1px solid #cacaca;
    border-radius:10px;
    padding:5px;
}
#button-1{
    background: #919191;
    color: #ffffff;
    border: 1px solid #cacaca;
    border-radius:10px;
    padding:5px;
    cursor:pointer;
}